<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!--% include ../partials/nav.ejs %-->
<div class="jumboimg">
	<a href="http://www.discoverboating.ca/buying/boatselector.aspx">
		<img src="/boat.jpg">
	</a>
</div>
<div class="jumbotron text-center">
  <div class="container">
   
    <h1>Under construction</h1>
    <p></p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/nerrull/matluss"><span class="glyphicon glyphicon-download"></span> Github</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.twitch.tv/beyonddarkson"><span class="glyphicon glyphicon-flash"></span> Watch some top plays</a>
    <a type="button" class="btn btn-lg btn-primary" href="http://www.awcoupon.ca"><span class="glyphicon glyphicon-gift"></span> Great offers</a>
    <a type="button" class="btn btn-lg btn-primary" href="http://timewastednotbangingtheolsentwins.com/"><span class="glyphicon glyphicon-heart"></span> Advice</a>
  </div>
</div>
<div class="container">
</div>


</body>
</html>
